/ FOOTER
%footer.footer
  .container
    .row
      .col-lg-3.col-md-3
        %a.navbar-brand.logo{:href => "index.html"}
          UB
          %span.text-custom> o
          ld
      .col-lg-4.col-lg-offset-3.col-md-7
        %ul.nav.navbar-nav
          %li
            %a{:href => "#"} How it works
          %li
            %a{:href => "#"} Features
          %li
            %a{:href => "#"} Pricing
          %li
            %a{:href => "#"} Clients
      .col-lg-2.col-md-2
        %ul.social-icons
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter
          %li
            %a{:href => "#"}
              %i.fa.fa-google-plus
    / end row
  / end container
/ End Footer
