/ Features
%section#features.section
  .container
    .row
      .col-sm-12.text-center
        %h3.title The theme is fully responsive and easy to customize
        %p.text-muted.sub-title
          The clean and well commented code allows easy customization of the theme.It's
          %br/
          designed for describing your app, agency or business.
    / end row
    .row
      .col-sm-4
        .features-box
          %i.fa.fa-diamond
          %h4 Responsive Layouts
          %p.text-muted It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      .col-sm-4
        .features-box
          %i.fa.fa-bicycle
          %h4 Bootstrap UI based
          %p.text-muted Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin litera..
      .col-sm-4
        .features-box
          %i.fa.fa-signal
          %h4 Creative Design
          %p.text-muted There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
    / end row
  / end container
/ end Features
/ Features Alt
%section.section.p-t-0
  .container
    .row
      .col-sm-5
        .feat-description.m-t-20
          %h4 Praesent et viverra massa non varius magna eget nibh vitae velit posuere efficitur.
          %p.text-muted Ubold is a fully featured premium admin template built on top of awesome Bootstrap 3.3.7, modern web technology HTML5, CSS3 and jQuery. It has many ready to use hand crafted components. The theme is fully responsive and easy to customize. The code is super easy to understand and gives power to any developer to turn this theme into real web application.
          %a.btn.btn-custom{:href => ""} Learn More
      .col-sm-6.col-sm-offset-1
        = image_tag("mac_1.png", class: "img-responsive m-t-20", alt: "img")
    / end row
  / end container
/ end features alt
/ Features Alt
%section.section
  .container
    .row
      .col-sm-6
        = image_tag("mac_2.png", class: "img-responsive", alt: "img")
      .col-sm-5.col-sm-offset-1
        .feat-description
          %h4 Praesent et viverra massa non varius magna eget nibh vitae velit posuere efficitur.
          %p.text-muted Ubold is a fully featured premium admin template built on top of awesome Bootstrap 3.3.7, modern web technology HTML5, CSS3 and jQuery. It has many ready to use hand crafted components. The theme is fully responsive and easy to customize. The code is super easy to understand and gives power to any developer to turn this theme into real web application.
          %a.btn.btn-custom{:href => ""} Learn More
    / end row
  / end container
/ end features alt
/ Features Alt
%section.section
  .container
    .row
      .col-sm-5
        .feat-description
          %h4 Praesent et viverra massa non varius magna eget nibh vitae velit posuere efficitur.
          %p.text-muted Ubold is a fully featured premium admin template built on top of awesome Bootstrap 3.3.7, modern web technology HTML5, CSS3 and jQuery. It has many ready to use hand crafted components. The theme is fully responsive and easy to customize. The code is super easy to understand and gives power to any developer to turn this theme into real web application.
          %a.btn.btn-custom{:href => ""} Learn More
      .col-sm-6.col-sm-offset-1
        = image_tag("mac_3.png", class: "img-responsive", alt: "img")
    / end row
  / end container
/ end features alt
