/ PRICING
%section#pricing.section
  .container
    .row
      .col-sm-12.text-center
        %h3.title Pricing
        %p.text-muted.sub-title
          The clean and well commented code allows easy customization of the theme.It's
          %br/
          designed for describing your app, agency or business.
    / end row
    .row
      .col-lg-10.col-lg-offset-1
        .row
          / Pricing Column
          %article.pricing-column.col-lg-4.col-md-4
            .inner-box
              .plan-header.text-center
                %h3.plan-title Ragular
                %h2.plan-price $24
                .plan-duration Per License
              %ul.plan-stats.list-unstyled
                %li
                  %i.pe-7s-server>
                  Number of end products
                  %b 1
                %li
                  %i.pe-7s-graph>
                  Customer support
                %li
                  %i.pe-7s-mail-open>
                  Free Updates
                %li
                  %i.pe-7s-tools>
                  24x7 Support
              .text-center
                %a.btn.btn-sm.btn-custom{:href => "#"} Purchase Now
          / Pricing Column
          %article.pricing-column.col-lg-4.col-md-4
            .inner-box.active
              .plan-header.text-center
                %h3.plan-title Multiple
                %h2.plan-price $120
                .plan-duration Per License
              %ul.plan-stats.list-unstyled
                %li
                  %i.pe-7s-server>
                  Number of end products
                  %b 1
                %li
                  %i.pe-7s-graph>
                  Customer support
                %li
                  %i.pe-7s-mail-open>
                  Free Updates
                %li
                  %i.pe-7s-tools>
                  24x7 Support
              .text-center
                %a.btn.btn-sm.btn-custom{:href => "#"} Purchase Now
          / Pricing Column
          %article.pricing-column.col-lg-4.col-md-4
            .inner-box
              .plan-header.text-center
                %h3.plan-title Extended
                %h2.plan-price $999
                .plan-duration Per License
              %ul.plan-stats.list-unstyled
                %li
                  %i.pe-7s-server>
                  Number of end products
                  %b 1
                %li
                  %i.pe-7s-graph>
                  Customer support
                %li
                  %i.pe-7s-mail-open>
                  Free Updates
                %li
                  %i.pe-7s-tools>
                  24x7 Support
              .text-center
                %a.btn.btn-sm.btn-custom{:href => "#"} Purchase Now
      / end col
    / end row
  / end container
/ End Pricing
